{% extends 'LCHIS/admin/admin_base.html' %}
{% block content %}
{% load static %}

<div class="d-flex justify-content-center align-items-center" style="height: 85vh;" id="pre-loader">
    <div style="width: 100px;">
        <img src="{% static 'img/svg/tube-spinner.svg' %}" alt="pre-loader">
    </div>
</div>


<div class="container" style="margin-bottom: 200px;">
    <div class="container-fluid d-none" id="child-form-cards">

        <form method="post" class="form-group needs-validation" enctype="multipart/form-data" novalidate id="childForm">
            {% csrf_token %}
            <!-- {{ child_form.errors }} -->
            <!-- {{ guardian_form.errors }} -->
            <div id="child-form-card" style="display: none;">

                <div class="card shadow mb-4 child-form" id="id_child_card_form-0">
                    <div class="card-header py-3 d-flex justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Child</h6>
                    </div>
                    <div class="card-body">
                        <div class="form-row mb-4">
                            <div class="d-flex align-items-center" style="padding-left:6px;">
                                {{ child_form.barangay.label }}
                            </div>
                            <div class="col-xlg-2 col-lg-3 col-md-6 col-sm-6">
                                {{ child_form.barangay }}
                                <div class="invalid-feedback">
                                    Please add a barangay.
                                </div>
                            </div>
                        </div>
                        <div class="form-row mb-4">
                            <div class="d-flex align-items-center" style="padding-left:6px;">
                                {{ child_form.name_of_bhw.label }}
                            </div>
                            <div class="col-xlg-2 col-lg-3 col-md-6 col-sm-6">
                                {{ child_form.name_of_bhw }}
                                <div class="invalid-feedback">
                                    Please add a BHW name.
                                </div>
                            </div>
                        </div>
                        <div class="form-row mb-4">
                            <div class="d-flex align-items-center" style="padding-left:6px;">
                                {{ child_form.purok.label }}
                            </div>
                            <div class="col-xlg-2 col-lg-3 col-md-6 col-sm-6">
                                {{ child_form.purok }}
                                <div class="invalid-feedback">
                                    Please add a purok.
                                </div>
                            </div>
                        </div>
                        <div class="form-row mb-4">
                            <div class="d-flex align-items-center" style="padding-left:6px;">
                                {{ child_form.nurse.label }}
                            </div>
                            <div class="col-xlg-2 col-lg-3 col-md-6 col-sm-6">
                                {{ child_form.nurse }}
                                <div class="invalid-feedback">
                                    Please add a midwife/nurse.
                                </div>
                            </div>
                        </div>
                        <!-- Child's name -->
                        <div class="form-row mt-5 mb-4">
                            <div class="col-md-4">
                                {{ child_form.child_first_name.label }}
                                {{ child_form.child_first_name }}
                                <div class="invalid-feedback">
                                    Please add a first name.
                                </div>
                            </div>
                            <div class="col-md-4">
                                {{ child_form.child_middle_name.label }}
                                {{ child_form.child_middle_name }}
                                <div class="invalid-feedback">
                                    Please add a middle name.
                                </div>
                            </div>
                            <div class="col-md-4">
                                {{ child_form.child_last_name.label }}
                                {{ child_form.child_last_name }}
                                <div class="invalid-feedback">
                                    Please add a last name.
                                </div>
                            </div>
                        </div>
                        <!-- End of Child's name -->
                        <div class="form-row mb-4">
                            <div class="col-md-3">
                                {{ child_form.height.label }}
                                {{ child_form.height }}
                                <div class="invalid-feedback">
                                    Please add height.
                                </div>
                            </div>
                            <div class="col-md-3">
                                {{ child_form.weight.label }}
                                {{ child_form.weight }}
                                <div class="invalid-feedback">
                                    Please add weight.
                                </div>
                            </div>
                        </div>
                        <div class="form-row mb-4">
                            <div class="col-md-4">
                                {{ child_form.condition.label }}
                                {{ child_form.condition }}
                                <div class="invalid-feedback">
                                    Please add condition.
                                </div>
                            </div>
                        </div>
                        <div class="form-row mb-4">
                            <div class="col-xlg-1 col-lg-2  col-md-6">
                                {{ child_form.birthdate.label }}
                                {{ child_form.birthdate }}
                                <div class="invalid-feedback">
                                    Please add a birthdate.
                                </div>
                            </div>
                            <div class="col-xlg-1 col-lg-1 col-md-6">
                                {{ child_form.years_old.label }}
                                {{ child_form.years_old }}
                                {% if child_form.years_old.errors %}
                                <div class="errorlist position-relative">
                                    {% for error in child_form.years_old.errors %}
                                    <span class="small text-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% endif %}
                            </div>
                            <div class="col-xlg-1 col-lg-1 col-md-6">
                                {{ child_form.months_old.label }}
                                {{ child_form.months_old }}
                                {% if child_form.months_old.errors %}
                                <div class="errorlist position-relative">
                                    {% for error in child_form.months_old.errors %}
                                    <span class="small text-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-row mb-4">
                            <div class="col-xlg-1 col-lg-1 col-md-6 col-sm-6">
                                {{ child_form.gender.label }}
                                {{ child_form.gender }}
                            </div>

                        </div>
                        <div class="form-row mb-4">
                            <div class="col-xlg-2 col-lg-3 col-md-6 col-sm-6" style="padding-left:6px;">
                                <div class="custom-file">
                                    {{ child_form.image }}
                                    <label class="custom-file-label">Choose image</label>
                                </div>
                                <img id="imagePreview" src="#" class="img-thumbnail d-none" style="width: 150px;"
                                    alt="Image Preview">
                                <button class="btn btn-primary d-none">
                                    Delete Image
                                </button>

                                {% if child and child.image.url %}
                                <img id="dbImagePreview" src="{{ child.image.url }}" class="img-thumbnail"
                                    alt="{{ child.image.name }}" style="width: 150px;">
                                <br>
                                <a class="btn btn-primary mt-2" href="#" data-toggle="modal"
                                    data-target="#deleteImageModal">
                                    Delete
                                </a>
                                {% endif %}
                            </div>
                        </div>
                        <!-- Child's Vaccines -->
                        <div class="form-row mb-4" id="child-vaccines">
                            <div class="col-xlg-1 col-lg-3 col-md-6">
                                {{ child_form.bcg.label }}
                                {{ child_form.bcg }}

                                <div class="small text-danger">
                                    {{ child_form.bcg.errors }}
                                </div>
                            </div>
                            <div class="col-xlg-1 col-lg-3 col-md-6">
                                {{ child_form.hepa_b.label }}
                                {{ child_form.hepa_b }}

                                <div class="small text-danger">
                                    {{ child_form.hepa_b.errors }}
                                </div>
                            </div>
                            <div class="col-xlg-1 col-lg-3 col-md-6">
                                {{ child_form.penta_1.label }}
                                {{ child_form.penta_1 }}

                                <div class="small text-danger">
                                    {{ child_form.penta_1.errors }}
                                </div>
                            </div>
                            <div class="col-xlg-1 col-lg-3 col-md-6">
                                {{ child_form.penta_2.label }}
                                {{ child_form.penta_2 }}

                                <div class="small text-danger">
                                    {{ child_form.penta_2.errors }}
                                </div>
                            </div>
                            <div class="col-xlg-1 col-lg-3 col-md-6">
                                {{ child_form.penta_3.label }}
                                {{ child_form.penta_3 }}

                                <div class="small text-danger">
                                    {{ child_form.penta_3.errors }}
                                </div>
                            </div>
                            <div class="col-xlg-1 col-lg-3 col-md-6">
                                {{ child_form.opv_1.label }}
                                {{ child_form.opv_1 }}

                                <div class="small text-danger">
                                    {{ child_form.opv_1.errors }}
                                </div>
                            </div>
                            <div class="col-xlg-1 col-lg-3 col-md-6">
                                {{ child_form.opv_2.label }}
                                {{ child_form.opv_2 }}

                                <div class="small text-danger">
                                    {{ child_form.opv_2.errors }}
                                </div>
                            </div>
                            <div class="col-xlg-1 col-lg-3 col-md-6">
                                {{ child_form.opv_3.label }}
                                {{ child_form.opv_3 }}

                                <div class="small text-danger">
                                    {{ child_form.opv_3.errors }}
                                </div>
                            </div>
                            <div class="col-xlg-1 col-lg-3 col-md-6">
                                {{ child_form.ipv_1.label }}
                                {{ child_form.ipv_1 }}

                                <div class="small text-danger">
                                    {{ child_form.ipv_1.errors }}
                                </div>
                            </div>
                            <div class="col-xlg-1 col-lg-3 col-md-6">
                                {{ child_form.ipv_2.label }}
                                {{ child_form.ipv_2 }}

                                <div class="small text-danger">
                                    {{ child_form.ipv_2.errors }}
                                </div>
                            </div>
                            <div class="col-xlg-1 col-lg-3 col-md-6">
                                {{ child_form.pcv_1.label }}
                                {{ child_form.pcv_1 }}

                                <div class="small text-danger">
                                    {{ child_form.pcv_1.errors }}
                                </div>
                            </div>
                            <div class="col-xlg-1 col-lg-3 col-md-6">
                                {{ child_form.pcv_2.label }}
                                {{ child_form.pcv_2 }}

                                <div class="small text-danger">
                                    {{ child_form.pcv_2.errors }}
                                </div>
                            </div>
                            <div class="col-xlg-1 col-lg-3 col-md-6">
                                {{ child_form.pcv_3.label }}
                                {{ child_form.pcv_3 }}

                                <div class="small text-danger">
                                    {{ child_form.pcv_3.errors }}
                                </div>
                            </div>
                            <div class="col-xlg-1 col-lg-3 col-md-6">
                                {{ child_form.mcv_1.label }}
                                {{ child_form.mcv_1 }}

                                <div class="small text-danger">
                                    {{ child_form.mcv_1.errors }}
                                </div>
                            </div>
                            <div class="col-xlg-1 col-lg-3 col-md-6">
                                {{ child_form.mcv_2.label }}
                                {{ child_form.mcv_2 }}

                                <div class="small text-danger">
                                    {{ child_form.mcv_2.errors }}
                                </div>
                            </div>
                        </div>
                        <!-- End of Child's Vaccines -->
                        <div class="form-row">
                            <div class="col-xlg-1 col-lg-3 col-md-6">
                                {{ child_form.remarks.label }}
                                {{ child_form.remarks }}
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div id="guardian-form-card" class="mt-5">
                <div class="card shadow mb-4 guardian-form" id="id_guardian_card_form-0">
                    <div class="card-header py-3 d-flex justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Registration</h6>
                    </div>
                    <div class="card-body">
                        <div class="form-row mb-4">
                            <div class="col-md-4">
                                Guardian First Name
                                {{ guardian_form.first_name }}
                                <div class="invalid-feedback">
                                    Please add a first name.
                                </div>
                            </div>
                            <div class="col-md-4">
                                Guardian Middle Name
                                {{ guardian_form.middle_name }}
                                <div class="invalid-feedback">
                                    Please add a middle name.
                                </div>
                            </div>
                            <div class="col-md-4">
                                Guardian Last Name
                                {{ guardian_form.last_name }}
                                <div class="invalid-feedback">
                                    Please add a last name.
                                </div>
                            </div>
                        </div>
                        <div class="form-row mb-4">
                            <div class="col-md-6">
                                {{ child_form.name_of_mother.label }}
                                {{ child_form.name_of_mother }}
                            </div>
                        </div>
                        <div class="form-row mb-4">
                            <div class="col-md-6">
                                {{ child_form.name_of_father.label }}
                                {{ child_form.name_of_father }}
                            </div>
                        </div>

                        <div class="form-row mb-4">
                            <div class="d-flex align-items-center" style="padding-left:6px;">
                                {{ guardian_form.username.label }}
                            </div>
                            <div class="col-xlg-2 col-lg-3 col-md-6 col-sm-6">
                                {{ guardian_form.username }}
                                <div class="invalid-feedback">
                                    Please add a username.
                                </div>
                            </div>
                        </div>
                        <div class="form-row mb-4">
                            <div class="d-flex align-items-center" style="padding-left:6px;">
                                {{ guardian_form.password.label }}
                            </div>
                            <div class="col-xlg-2 col-lg-3 col-md-6 col-sm-6">
                                {{ guardian_form.password }}
                                <div class="invalid-feedback">
                                    Please add a password.
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="card shadow mb-4">
                <div class="card-header">
                    <!-- <h6 class="m-0">Controls</h6> -->
                </div>
                <div class="card-body">
                    <div class="controls">
                        <button id="save" type="submit" class="btn btn-primary mr-2">Submit</button>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>



<!-- Date picker CSS -->
<link href="{% static 'vendor/datepicker/datepicker.min.css' %}" rel="stylesheet">
<!-- Date picker -->
<script src="{% static 'vendor/datepicker/datepicker.min.js' %}"></script>

<script>
    const childFormCards = document.getElementById('child-form-cards')
    const preLoader = document.getElementById('pre-loader')
    const saveButton = document.getElementById("save")
    const form = document.querySelector('form.needs-validation')
    const datePickerFields = document.getElementsByClassName('date-picker')
    const birthdate = document.getElementById('id_birthdate')
    const years_old = document.getElementById('id_years_old')
    const months_old = document.getElementById('id_months_old')

    const password = document.getElementById('id_password')
    const username = document.getElementById('id_username')

    for (const element of datePickerFields) {
        const datepickerInstance = datepicker(element, {
            formatter: (input, date, instance) => {
                const value = date.toLocaleDateString('en-US', {
                    year: 'numeric',
                    month: 'long',
                    day: 'numeric'
                });
                input.value = value; // => 'September/1/2099'
            }
        });
    }


    datepicker(birthdate, {
        formatter: (input, date, instance) => {
            const value = date.toLocaleDateString('en-US', {
                year: 'numeric',
                month: 'long',
                day: 'numeric'
            });
            input.value = value; // => 'September/1/2099'
        },
        onSelect: (instance, date) => {
            let today = new Date();
            let birthYear = date.getFullYear();
            let age = today.getFullYear() - birthYear;

            let monthsPassed = (today.getMonth() - date.getMonth()) + (today.getFullYear() - birthYear) * 12;
            if (today.getMonth() < date.getMonth() || (today.getMonth() === date.getMonth() && today.getDate() < date.getDate())) {
                age--;
                monthsPassed--;
            }
            years_old.value = age;
            months_old.value = monthsPassed;

        }
    });


    const customFile = document.getElementById('imageInput');
    const customFileLabel = document.querySelector('.custom-file-label');
    const imagePreview = document.getElementById('imagePreview');
    const dbImagePreview = document.getElementById('dbImagePreview');
    customFile.addEventListener('change', function (event) {
        const selectedFile = event.target.files[0];
        const fileName = event.target.files[0].name;
        customFileLabel.textContent = fileName;

        const reader = new FileReader();

        reader.onload = (event) => {
            imagePreview.src = event.target.result;
        };

        reader.readAsDataURL(selectedFile);
        imagePreview.classList.add('d-block')
        dbImagePreview.classList.add('d-none')
    });


    if (password.value) {
        const passwordDiv = password.closest('div.form-row')
        const usernameDiv = username.closest('div.form-row')

        passwordDiv.classList.add('d-none')
        usernameDiv.classList.add('d-none')
    }
    window.addEventListener('beforeunload', (event) => {

        const form = document.getElementById('childForm')
        if (!form.classList.contains('was-validated')) {
            event.preventDefault();
        }
        if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
        }
    });

    window.addEventListener('load', () => {
        childFormCards.classList.remove('d-none')
        preLoader.remove()

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function (form) {
            form.addEventListener('submit', function (event) {
                if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                form.classList.add('was-validated');
            }, false);
        });
    })



</script>

{% endblock %}