{% extends 'LCHIS/base.html' %}

{% block title %}LCHIS - Vitamins{% endblock %}

{% block page_title %}Welcome To LCHIS - Vitamins{% endblock %}

{% block main_content %}
<!-- Vitamins Section - Home Page -->
<section id="team" class="team">
    <!--  Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Vitamins</h2>
        <p>
            Fuel your body with essential vitamins! Discover a range of vital nutrients that support overall health and
            well-being.
            From boosting immunity to promoting radiant skin, our vitamins are designed to help you thrive.
        </p>
    </div>
    <!-- End Section Title -->

    <div class="container">
        <div class="row gy-5">

            {% for vitamin in vitamins %}
            <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="100">
                <img src="{{vitamin.image.url}}" class="img-fluid" alt="#" />
                <div class="member-info text-center">
                    <h4>{{vitamin.name}}</h4>
                    <p>
                        {{vitamin.description}}
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- End Vitamins Section -->
{% endblock %}