{% extends 'LCHIS/admin/admin_base.html' %} {% block content %}
{% load static %}
<!-- Date picker CSS -->
<link href="{% static 'vendor/datepicker/datepicker.min.css' %}" rel="stylesheet">
<!-- Date picker -->
<script src="{% static 'vendor/datepicker/datepicker.min.js' %}"></script>

<div class="d-flex justify-content-center align-items-center" style="height: 85vh;" id="pre-loader">
    <div style="width: 100px;">
        <img src="{% static 'img/svg/tube-spinner.svg' %}" alt="pre-loader">
    </div>
</div>




<div class="modal fade" id="confirmDelete" tabindex="-1" aria-labelledby="confirmDelete" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete the item?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                This will permanently delete the item, confirm to delete the item.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="confirmDelete">Confirm</button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid d-none" id="galleryForm">
    <h1 class="h4 mb-0 text-gray-800 mb-5">Add About us</h1>
    <form method="post" class="form-group needs-validation form" enctype="multipart/form-data" id="gallery-form"
        novalidate>

        <!-- Modals -->

        <div class="modal fade" id="confirmSave" tabindex="-1" aria-labelledby="confirmSave" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Done inputing data?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        This save the item, confirm to save the item.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="confirmSave">Confirm</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="confirmSaveAndAdd" tabindex="-1" aria-labelledby="confirmSaveAndAdd"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Done inputing data?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        This save the item, confirm to save the item.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="save-and-add-another">Confirm</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="confirmSaveAndEdit" tabindex="-1" aria-labelledby="confirmSaveAndAdd"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Done inputing data?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        This save the item, confirm to save the item.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="save-and-edit-another">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modals end -->

        {% csrf_token %}

        <input id="saveAndAdd" type="hidden" value="0" name="saveAndAdd">
        <input id="saveAndEdit" type="hidden" value="0" name="saveAndEdit">
        <input id="confirmDelete" type="hidden" value="0" name="confirmDelete">

        <div id="gallery-form-card">
            <div class="card shadow mb-5 child-form" id="id_child_card_form-0">
                <div class="card-header py-3 d-flex justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">About us</h6>
                </div>
                <div class="card-body">
                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="form-row mb-4">
                                <div class="col-xlg-1 col-lg-3 col-md-6 col-sm-6">
                                    {{ form.header.label }}
                                    <div class="form-group">
                                        {{ form.header }}
                                        <div class="invalid-feedback">
                                            Please add header.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-row mb-4">
                                <div class="col-12">
                                    {{ form.description.label }}
                                    <div class="form-group">
                                        {{ form.description }}
                                        <div class="invalid-feedback">
                                            Please add description.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-row mb-4">
                                <div class="col-12">
                                    {{ form.on_left.label }}
                                    <div class="form-group">
                                        {{ form.on_left }}

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card shadow mb-4">
            <div class="card-header">
                <h6 class="m-0">Controls</h6>
            </div>
            <div class="card-body">
                <div class="controls">

                    {% if gallery %}
                    <button type="button" class="btn btn-primary mr-2" data-toggle="modal"
                        data-target="#confirmSave">Save</button>
                    <button id="delete" type="button" class="btn btn-danger mr-2" data-toggle="modal"
                        data-target="#confirmDelete">Delete</button>
                    {% else %}
                    <button type="button" class="btn btn-primary mr-2" data-toggle="modal"
                        data-target="#confirmSave">Save</button>

                    <button type="button" class="btn btn-primary mr-2" data-toggle="modal"
                        data-target="#confirmSaveAndAdd">
                        Save and add
                        another
                    </button>

                    <button type="button" class="btn btn-primary mr-2" data-toggle="modal"
                        data-target="#confirmSaveAndEdit">
                        Save and continue
                        editing
                    </button>

                    {% endif %}
                </div>
            </div>
        </div>
    </form>

</div>

<script>

    const errorLists = document.querySelectorAll('.errorlist');
    const saveButton = document.getElementById("save")
    const saveAndAddButton = document.querySelector("button#save-and-add-another")
    const saveAndEditButton = document.querySelector("button#save-and-edit-another")
    const confirmDeleteButton = document.querySelector("button#confirmDelete")
    const preLoader = document.getElementById('pre-loader')
    const saveAndAddInput = document.getElementById("saveAndAdd")
    const saveAndEditInput = document.getElementById("saveAndEdit")
    const confirmDeleteInput = document.querySelector("input#confirmDelete")
    const galleryForm = document.getElementById('galleryForm')

    let formSubmitted = false;


    if (saveAndAddButton) {
        saveAndAddButton.addEventListener("click", function () {
            saveAndAddInput.value = 1
            formSubmitted = true;
            document.getElementById("gallery-form").submit();

        });
    }

    if (saveAndEditButton) {
        saveAndEditButton.addEventListener("click", function () {
            saveAndEditInput.value = 1
            formSubmitted = true;
            document.getElementById("gallery-form").submit();
        });
    }

    if (confirmDeleteButton) {
        confirmDeleteButton.addEventListener('click', () => {
            confirmDeleteInput.value = 1
            formSubmitted = true;
            document.getElementById("gallery-form").submit();
        })
    }

    window.addEventListener('beforeunload', (event) => {
        const form = document.getElementById('gallery-form')
        if (!form.classList.contains('was-validated')) {
            event.preventDefault();
        }
        if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
        }
    });


    const confirmSaveButton = document.querySelector("button#confirmSave")

    confirmSaveButton.addEventListener('click', () => {
        document.querySelector('.form').submit()
    })

    window.addEventListener('load', () => {
        galleryForm.classList.remove('d-none')
        preLoader.remove()

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function (form) {
            form.addEventListener('submit', function (event) {
                if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                form.classList.add('was-validated');
            }, false);
        });
    })

</script>
{% endblock %}