{% extends 'LCHIS/admin/index.html' %} {% block content %}
{% load static %}
<!-- Date picker CSS -->
<link href="{% static 'vendor/datepicker/datepicker.min.css' %}" rel="stylesheet">
<!-- Date picker -->
<script src="{% static 'vendor/datepicker/datepicker.min.js' %}"></script>

<div class="d-flex justify-content-center align-items-center" style="height: 85vh;" id="pre-loader">
    <div style="width: 100px;">
        <img src="{% static 'img/svg/tube-spinner.svg' %}" alt="pre-loader">
    </div>
</div>
<div class="modal fade" id="confirmDelete" tabindex="-1" aria-labelledby="confirmDelete" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete the image?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                This will permanently delete the image, confirm to delete the image.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="confirmDelete">Confirm</button>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid d-none" id="galleryForm">
    <h1 class="h4 mb-0 text-gray-800 mb-5">Add image</h1>
    <form method="post" class="form-group needs-validation" enctype="multipart/form-data" id="gallery-form" novalidate>
        {% csrf_token %}

        <input id="saveAndAdd" type="hidden" value="0" name="saveAndAdd">
        <input id="saveAndEdit" type="hidden" value="0" name="saveAndEdit">
        <input id="confirmDelete" type="hidden" value="0" name="confirmDelete">

        <div id="gallery-form-card">
            <div class="card shadow mb-5 child-form" id="id_child_card_form-0">
                <div class="card-header py-3 d-flex justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Gallery</h6>
                </div>
                <div class="card-body">
                    <div class="form-row">
                        <div class="col-xlg-2 col-lg-3 col-md-6 col-sm-6 mb-4">
                            <div class="custom-file mb-3">
                                {{ form.image }}
                                <div class="invalid-feedback">
                                    Please add a type.
                                </div>
                                <label class="custom-file-label">Choose image</label>
                            </div>
                            <img id="imagePreview" src="#" class="img-thumbnail d-none" style="width: 150px;"
                                alt="Image Preview">

                            {% if gallery %}
                            <img id="dbImagePreview" src="{{ gallery.image.url }}" class="img-thumbnail"
                                alt="{{ gallery.image.name }}" style="width: 150px;">
                            {% endif %}

                            {% if form.image.errors %}
                            <div class="errorlist position-relative">
                                {% for error in form.image.errors %}
                                <span class="small text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                        <div class="col-md-12">
                            <div class="form-row mb-4">
                                <div class="col-xlg-1 col-lg-3 col-md-6 col-sm-6">
                                    {{ form.type.label }}
                                    <div class="form-group">
                                        {{ form.type }}
                                        <div class="invalid-feedback">
                                            Please select a type.
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-row mb-4">
                                <div class="col-xlg-1 col-lg-2 col-md-6 col-sm-6">
                                    {{ form.date.label }}
                                    {{ form.date }}
                                    <div class="invalid-feedback">
                                        Please add a date.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card shadow mb-4">
            <div class="card-header">
                <h6 class="m-0">Controls</h6>
            </div>
            <div class="card-body">
                <div class="controls">

                    {% if gallery %}
                    <button id="save" type="submit" class="btn btn-primary mr-2">Save</button>
                    <button id="delete" type="button" class="btn btn-danger mr-2" data-toggle="modal"
                        data-target="#confirmDelete">Delete</button>
                    {% else %}
                    <button id="save" type="submit" class="btn btn-primary mr-2">Save</button>
                    <button id="save-and-add-another" type="button" class="btn btn-primary mr-2">Save and add
                        another</button>
                    <button type="button" id="save-and-edit-another" class="btn btn-primary">Save and continue
                        editing</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </form>

</div>

<script>

    const errorLists = document.querySelectorAll('.errorlist');
    const saveButton = document.getElementById("save")
    const saveAndAddButton = document.querySelector("button#save-and-add-another")
    const saveAndEditButton = document.querySelector("button#save-and-edit-another")
    const confirmDeleteButton = document.querySelector("button#confirmDelete")
    const preLoader = document.getElementById('pre-loader')
    const saveAndAddInput = document.getElementById("saveAndAdd")
    const saveAndEditInput = document.getElementById("saveAndEdit")
    const confirmDeleteInput = document.querySelector("input#confirmDelete")
    const galleryForm = document.getElementById('galleryForm')

    let formSubmitted = false;
    let dateInput = document.getElementsByName('date')
    const datepickerInstance = datepicker(dateInput[0], {
        formatter: (input, date, instance) => {
            const value = date.toLocaleDateString('en-US', {
                year: 'numeric',
                month: 'long',
                day: 'numeric'
            });
            input.value = value; // => 'September/1/2099'
        },
    })

    if (saveAndAddButton) {
        saveAndAddButton.addEventListener("click", function () {
            saveAndAddInput.value = 1
            formSubmitted = true;
            document.getElementById("gallery-form").submit();

        });
    }

    if (saveAndEditButton) {
        saveAndEditButton.addEventListener("click", function () {
            saveAndEditInput.value = 1
            formSubmitted = true;
            document.getElementById("gallery-form").submit();
        });
    }

    if (confirmDeleteButton) {
        confirmDeleteButton.addEventListener('click', () => {
            confirmDeleteInput.value = 1
            formSubmitted = true;
            document.getElementById("gallery-form").submit();
        })
    }

    window.addEventListener('beforeunload', (event) => {
        if (!formSubmitted) {
            event.preventDefault(); // Prevent the default reload message
        }
    });



    const customFile = document.getElementById('imageInput');
    const customFileLabel = document.querySelector('.custom-file-label');
    const imagePreview = document.getElementById('imagePreview');
    const dbImagePreview = document.getElementById('dbImagePreview');
    customFile.addEventListener('change', function (event) {
        const selectedFile = event.target.files[0];
        const fileName = event.target.files[0].name;
        customFileLabel.textContent = fileName;

        const reader = new FileReader();

        reader.onload = (event) => {
            imagePreview.src = event.target.result;
        };

        reader.readAsDataURL(selectedFile);
        imagePreview.classList.add('d-block')
        dbImagePreview.classList.add('d-none')
    });

    window.addEventListener('load', () => {
        galleryForm.classList.remove('d-none')
        preLoader.remove()

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function (form) {
            form.addEventListener('submit', function (event) {
                if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                form.classList.add('was-validated');
            }, false);
        });
    })

</script>
{% endblock %}