{% load static %}

<!-- Vitamins Section - Home Page -->
<section id="team" class="team">
    <!--  Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Vitamins</h2>
        <p>
            Necessitatibus eius consequatur ex aliquid fuga eum quidem sint
            consectetur velit
        </p>
    </div>
    <!-- End Section Title -->

    <div class="container">
        <div class="row gy-5">

            {% for vitamin in vitamins %}
            <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="100">
                <img src="{{vitamin.image.url}}" class="img-fluid" alt="#" />
                <div class="member-info text-center">
                    <h4>{{vitamin.name}}</h4>
                    <p>
                        {{vitamin.description}}
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- End Vitamins Section -->